body {
    background: #f4f6f9;
    font-family: Arial, sans-serif;
}

.card {
    max-width: 500px;
    margin: auto;
    border-radius: 12px;
}

select, input {
    height: 45px;
}

button {
    height: 45px;
    font-size: 16px;
}